
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');



@tailwind base;
@tailwind components;
@tailwind utilities;



tr,th,td{
    border: 2px solid skyblue;
    padding: 4px;
    padding-left: 8px;
    
}

.dark-them{
    background-color: black;
}
